.button__icon {
    > path {
        fill: $secondary;
        transition: fill .3s;
    }
}
.button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 119px;
    height: 32px;
    background-color: $main-accent;
    border-radius: 16px;
    @include fontTTLakes(700, 12px, 24px, -0.15px, $secondary);
    text-transform: uppercase;
    padding: 0 12px;
    transition: all .3s;

    &:hover {
        background-color: $main-accent-fade;
        color: $main-accent;

        .button__icon {
            > path {
                fill: $main-accent;
            }
        }
    }
}