.footer {
    display: flex;
    flex-direction: column;
    padding: 16px 4px 19px;
    align-items: center;
    gap: 16px;
    width: 100%;
    position: relative;

    @media (min-width: $tablet-width) {
        flex-direction: row;
        justify-content: space-between;
        padding: 32px 0 25px;
    }

    @media (min-width: $desktop-width) {
        padding: 32px 0 21px;
    }

    &::before {
        content: '';
        border-top: 1px solid #D9FFF5;
        position: absolute;
        z-index: -1;
        top: 0;
        left: -1 * $mobile;
        right: -1 * $mobile;
    }
}
.footer__link {
    @media (min-width: $tablet-width) {
        flex-basis: 33%;
    }
}
.footer__txt, .footer__link, .footer__link:visited {
    @include fontTTLakes(400, 14px, 16px, 0, $secondary-font);
    text-align: center;
}
.footer__txt {

    @media (min-width: $tablet-width) {
        flex-basis: 33%;
    }

    &:first-child {
        @media (min-width: $tablet-width) {
            text-align: start;
        }
    }

    &:last-child {
        @media (min-width: $tablet-width) {
            text-align: end;
        }
    }
}
.footer__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: $tablet-width) {
        align-items: flex-start;
        flex-basis: 33%;

        .footer__txt {
            text-align: start;
        }
    }
}