.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $secondary;
    position: relative;
    padding: 18px $mobile;
    border-bottom: 1px solid $color-line;

    @media (min-width: $tablet-width) {
        padding-left: $tablet;
        padding-right: $tablet;
    }

    &--position {
        width: 100vw;
        left: 50%;
        transform: translateX(-50%);

        @media (min-width: $desktop-width) {
            display: contents;
        }
    }
}
.header__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    @media (min-width: $tablet-width) {
        gap: 42px;
    }

    &:first-of-type {
        gap: 16px;

        @media (max-width: 319px) {
            flex-grow: 1;
        }

        @media (min-width: $tablet-width) {
            gap: 42px;
        }

        @media (min-width: $desktop-width) {
            display: none;
        }

        &::before {
            display: none;

            @media (min-width: $tablet-width) {
                display: inline;
                left: 61px;
            }
        }
    }

    &:last-of-type {
        @media (max-width: 319px) {
            display: none;
        }

        &::before {
            @media (max-width: 319px) {
                display: none;
            }

            @media (min-width: $tablet-width) {
                display: inline;
                left: 173px;
            }

            @media (min-width: $desktop-width) {
                display: none;
            }
        }

        > .header__list {
            &:first-of-type {
                display: none;

                @media (min-width: $tablet-width) {
                    display: flex;
                }

                @media (min-width: $desktop-width) {
                    display: none;
                }
            }
        }
    }

    &::before {
        content: "";
        position: absolute;
        top: 50%;
        margin-top: -16px;
        left: -20px;
        height: 32px;
        width: 2px;
        border-radius: 1px;
        background-color: $line;
    }
}
.header__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;

    @media (min-width: $desktop-width) {
        position: absolute;
        top: 42px;
        right: 0;
        z-index: 1;
        gap: 32px;
    }
}
.header__item {
    font-size: 0;
    display: flex;
    align-items: center;

    @media (min-width: $desktop-width) {
        gap: 8px;
    }
}