.horizontal-menu__list {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: nowrap;
    margin-right: -16px;
    overflow-x: auto;
    scrollbar-width: none;
}
.horizontal-menu__list::-webkit-scrollbar {
    display: none;
}
.horizontal-menu__item:last-of-type {
    margin-right: 16px;
}
.horizontal-menu__link {
    display: inline-block;
    white-space: nowrap;
    @include fontTTLakes(500, 16px, 24px, -0.2px, $secondary-font);
    padding: 8px 20px;
    border: 2px solid transparent;
}
.horizontal-menu__link:hover {
    border-color: $secondary-accent;
    border-radius: 6px;
    background-color: $secondary;
}
@media (min-width: $tablet-width) {
    .horizontal-menu__list {
        margin-right: -24px;
    }
    .horizontal-menu__item:last-of-type {
        margin-right: 24px;
    }
}
@media (min-width: $desktop-width) {
    .horizontal-menu__list {
        margin-right: 0;
        flex-wrap: wrap;
    }
    .horizontal-menu__item:last-of-type {
        margin-right: 0;
    }
}