.icon {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 0;

    &:not([disabled]):hover {
        > .icon__img {
            background-color: $main-accent--fade;
            transition: background-color .3s;
    
            > svg {
                fill: $main-accent;
                transition: fill .3s;
            }
        }
    }
}
.icon__img {
    width: 40px;
    height: 40px;
    padding: 10px;
    background: $main-accent;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    > svg {
        fill: $secondary;
    }
}
.icon__text {
    @include fontTTLakes(500, 16px, 24px, -0.2px, $main-font);
    white-space: nowrap;
    display: none;

    @media (min-width: $desktop-width) {
        display: inline;
    }
}