.lang__input {
    display: none;
}
.lang__fieldset {
    display: flex;
    gap: 7px;
}
.lang__label {
    @include fontTTLakes(400, 16px, 24px, -0.2px, $main-font);
    text-transform: uppercase;
}
.lang__input:checked {
    + .lang__label {
        color: $secondary-font;
    }
}