.main {
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
@media (min-width: $tablet-width) {
    .main {
        padding-top: 32px;
        gap: 32px;
    }
}
@media (min-width: $desktop-width) {
    .main {
        padding: 11px $desktop 0;
        gap: 50px;
    }
}