.modal__wrapper {
    height: 100vh;
    width: 100%;
    overflow-y: auto;
    scrollbar-width: 0;
    position: absolute;
    z-index: 99;
    background-color: $secondary;
    top: 0;
    right: 0;
    display: none;
    transition: transform .3s;

    &::-webkit-scrollbar {
        display: none;
    }

    &--position {
        transform: translate(100%);

        @media (min-width: $tablet-width) {
            transform: translate(100%);
        }
    }

    @media (min-width: $tablet-width) {
        background-color: transparent;
        width: 440px + 64px;
    }
}
.modal {
    width: 100vw;
    max-width: 440px;
    height: 100%;
    min-height: 629px;
    position: absolute;
    background-color: $secondary;
    top: 0;
    left: 0;
    padding: $mobile-top $mobile 32px;
    border: none;
    display: none;

    @media (min-width: $tablet-width) {
        width: 440px;
        min-height: 553px;
        border-left: 1px solid $color-line;
        box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2);
        padding: 40px $tablet 32px;
        overflow: visible; 
        right: 0;
        left: auto;
    }

    @media (min-width: $desktop-width) {
        padding-left: $desktop;
        padding-right: $desktop;
    }

    &--open {
        display: block;
    }
}
.modal__close {
    padding-bottom: $mobile-top;

    @media (min-width: $tablet-width) {
        position: absolute;
        padding-bottom: 0;
        top: 36px;
        left: -1 * $desktop * 2;
        z-index: 99;
    }
}
.modal__title {
    font-size: 24px;
    line-height: 32px;

    @media (min-width: $tablet-width) {
        padding-top: 0;
    }
}
.modal__form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 16px;
}
.modal__input, .modal__textarea {
    @include fontTTLakes(400, 16px, 24px, -0.2px, $main-font);
    padding: 12px 16px;
    border: 1px solid $line;
    border-radius: 8px;
    width: 100%;
}
.modal__input {
    height: 48px;
}
.modal__input::placeholder, .modal__textarea::placeholder {
    @include fontTTLakes(400, 16px, 24px, -0.2px, $modal-font);
}
.modal__textarea {
    height: 118px;
    resize: none;
}
.modal__txt {
    @include fontTTLakes(400, 14px, 16px, 0, $secondary-font);
    margin-bottom: 19px;
}
.modal__accent {
    color: $main-accent;
}
.modal__btn {
    margin-left: auto;
}

