.readmore {
    display: inline-flex;
    align-items: center;

    &:hover {
        .readmore__txt {
            color: $main-accent;
        }
        .readmore__icon {
            > path {
                fill: $main-accent;
            }
        }
    }

    &--open {
        .readmore__icon {
            transform: rotate(180deg);
        }
    }
}
.readmore__icon {
    width: 24px;
    height: 24px;
    transition: transform .5s;

    > path {
        fill: $secondary-accent;
        transition: fill .3s;
    }
}
.readmore__txt {
    @include fontTTLakes(500, 16px, 24px, -0.2px, $main-font);
    display: inline-block;
    opacity: 1;
    transition: color .3s;
}