.title {
    @include fontTTLakes(700, 28px, 40px, -0.6px, $main-font);
    position: relative;
    padding: 24px 0;
    display: flex;
    align-items: center;

    @media (min-width: $tablet-width) {
        padding-bottom: 32px;
    }

    @media (min-width: $desktop-width) {
        padding: 42px 0 8px;
    }

    &::before {
        content: "";
        position: absolute;
        left: -1 * $mobile;
        height: 40px;
        width: 4px;
        border-radius: 0 5px 5px 0;
        background-color: $secondary-accent;

        @media (min-width: $tablet-width) {
            left: -1 * $tablet;
        }
        
        @media (min-width: $desktop-width) {
            left: -1 * $desktop;
        }
    }
}